* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


body {
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
    background: #344a72;
    color: rgb(75, 75, 75);
    line-height: 1.8em;
}


li {
 display: inline;
}

li a {
	padding-right: 20px;
}

img {
	display: block;
	margin: auto;
	width: 30%;
}

a {
	color:rgb(255, 255, 255);
	text-decoration: none;
}

a:hover {
	color: rgb(252, 168, 13);
}

.container {
	display: inline-block;
	box-sizing: border-box;
	background: #f4f4f4;
	padding: 20px;
	margin-bottom: 15px;
	width: 32%;

}