  body {
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
    background: #344a72;
    color: rgb(75, 75, 75);
    line-height: 1.8;
  }

  section {
    display: flex;
    flex-flow: row wrap ;
    margin-top: 5%;
    margin-left:10%

}

  article {
    flex: 1 200px;
    justify-content: center;
  }

  article:last-child {
    text-decoration: none;
  }

  a {
    outline: none;
  }

  button {
    display: block;
    padding: 13px;
    width: 100%;
    height: 50px;
    margin-top: 10px;
    border-radius: 6px;
    background: rgb(52, 130, 194);
    color: white;
}

button:hover {
    background: rgb(255, 158, 68);
     
}
img {
    width: 70%;
}

footer {
    color:#fff;
    text-align: center;
}

  .form-wrap {
    background: #fff;
    padding: 15px 25px;
    color: #333;
    border-radius: 8px;
    /* margin-left:50px */
}

footer {
    color: #000000;
}

footer a {
    color:rgb(77, 133, 77);
}

.form-wrap h1, .form-wrap p {
    text-align: center;
}

.form-group {
     padding: 10px 10px; 
}

.form-group input {
    width: 100%;
    padding: 13px 2px;
    border-radius: 5px;
    border-color: rgb(221, 217, 217);
    font-size: 20px;
}

.form-group label {
    display: block;
    color: #667;
}




  
  
  
   